*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-transform: capitalize;
}
.head{
    background-color: antiquewhite;
    height: 50px;   
}
.nav_bar{
    background-color: rgb(234, 139, 14);
    height: 50px;   
}
.container{
    display: flex;
}
.index{
    background-color: rgba(174, 174, 252, 0.642);
    height: 500px; 
    width: 30%;
}
.content{
    background-color: rgba(54, 54, 169, 0.625);
    height: 500px; 
    width: 70%;   
}
.foot{
    background-color: aqua;
    height: 50px;
}